@model Library.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageCount" class="control-label"></label>
                <input asp-for="PageCount" class="form-control" />
                <span asp-validation-for="PageCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LetterId" class="control-label"></label>
                <input asp-for="LetterId" class="form-control" />
                <span asp-validation-for="LetterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>
                <input asp-for="LanguageId" class="form-control" />
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BindingId" class="control-label"></label>
                <input asp-for="BindingId" class="form-control" />
                <span asp-validation-for="BindingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormatId" class="control-label"></label>
                <select asp-for="FormatId" class ="form-control" asp-items="ViewBag.FormatId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PublisherId" class="control-label"></label>
                <input asp-for="PublisherId" class="form-control" />
                <span asp-validation-for="PublisherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityCount" class="control-label"></label>
                <input asp-for="QuantityCount" class="form-control" />
                <span asp-validation-for="QuantityCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentedCount" class="control-label"></label>
                <input asp-for="RentedCount" class="form-control" />
                <span asp-validation-for="RentedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservedCount" class="control-label"></label>
                <input asp-for="ReservedCount" class="form-control" />
                <span asp-validation-for="ReservedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
