@model Library.Models.Bibliotekar

@{
    ViewData["Title"] = "Delete";
}

<h2>Potvrdite brisanje</h2>

<h4>Da li ste sigurni da zelite da izbrisete ovog bibliotekara?</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DeleteConfirmed">
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Obriši" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

